#recorder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
}

#recorder.recording {
    background-color: #ffa;
}